.find-us {
  font-family: "Josefin Sans", sans-serif;

  .contact-container {
    padding: 0 toRem(135) toRem(60);
    margin-top: toRem(50);
  }

  .bg-img {
    background-image: url(../../img/contact_us.svg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: toRem(450);
    height: toRem(237);
    margin: 0 auto;
    margin-bottom: toRem(50);
  }

  h3 {
    text-align: center;
    margin-bottom: toRem(50);
  }

  .contact {
    font-family: "Poppins", sans-serif;
    background-color: tomato;

    .contact-info {
      // max-width: toRem(530);
      max-width: toRem(500);
      background-color: $champagne;
      padding: toRem(60);
      gap: toRem(55);

      img {
        margin-bottom: toRem(10);
      }

      h3 {
        margin-bottom: toRem(5);
        font-size: $font-nm;
      }

      p {
        font-size: $font-sm;
      }

      div {
        width: toRem(150);
      }
    }

    .contact-form {
      background-color: $champagne;
      width: toRem(500);

      form {
        padding: toRem(40) 0;
      }

      .form-control {
        max-width: toRem(360);
        margin: 0 auto toRem(15);
        position: relative;
        // background-color: tomato;

        input,
        textarea {
          width: 100%;
          background: transparent;
          outline: none;
          border: none;
          border-bottom: 2px solid $gun-metal;
          display: block;
          padding: toRem(15) 0;
          font-family: "Poppins", sans-serif;
          font-size: $font-nm;
          color: $gun-metal;
        }

        textarea {
          max-width: 100%;
        }

        & input:focus,
        & input:valid,
        & textarea:focus {
          outline: none;
          border-bottom-color: $ochre-brown;
        }

        label {
          position: absolute;
          top: toRem(14);
          left: 0;
          font-size: $font-nm;
          pointer-events: none;

          span {
            display: inline-block;
            min-width: toRem(5);
            font-size: $font-nm;
            transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          }
        }

        input:focus + label span,
        input:valid + label span {
          transform: translateY(toRem(-30));
        }
      }

      .btn {
        // position: relative;
        // left: 50%;
        // transform: translateX(-50%);
        display: inline-block;
        width: toRem(360);
        padding: toRem(15);
        margin-left: calc(50% - 180px);
        margin-top: toRem(15);
        border-radius: toRem(50);
        border: none;
        font-family: inherit;
        font-size: $font-nm;
        background-color: $gun-metal;
        color: $antique-white;
        cursor: pointer;

        &:active {
          transform: scale(0.95);
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
