.find-us {
  font-family: "Josefin Sans", sans-serif;

  .contact-container {
    padding: 0 toRem(135) toRem(60);
    margin-top: toRem(50);
  }

  .bg-img {
    margin-left: auto;
    margin-bottom: toRem(50);

    img {
      max-width: 100%;
    }
  }

  h3 {
    text-align: center;
    margin-bottom: toRem(50);
  }

  .contact {
    font-family: "Poppins", sans-serif;
    gap: toRem(25);
    margin-bottom: toRem(90);

    .contact-info {
      max-width: toRem(500);
      background-color: $champagne;
      padding: toRem(60);
      gap: toRem(55);
      border-radius: toRem(10);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      transition: all 0.4s;

      &:hover {
        transform: translateY(toRem(-15));
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
          rgba(0, 0, 0, 0.22) 0px 15px 12px;
      }

      img {
        margin-bottom: toRem(10);
      }

      h3 {
        margin-bottom: toRem(5);
        font-size: $font-nm;
      }

      p {
        font-size: $font-sm;
      }

      div {
        width: toRem(150);
      }
    }

    .contact-form {
      background-color: $champagne;
      border-radius: toRem(10);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      transition: all 0.4s;
      width: 100%;
      max-width: toRem(500);

      &:hover {
        transform: translateY(toRem(-15));
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
          rgba(0, 0, 0, 0.22) 0px 15px 12px;
      }

      form {
        width: 100%;
        padding: toRem(40) toRem(40);
      }

      .form-control {
        width: 100%;
        margin: 0 auto toRem(15);
        position: relative;

        input,
        textarea {
          display: block;
          width: 100%;
          background: transparent;
          outline: none;
          border: none;
          border-bottom: 2px solid $gun-metal;
          padding: toRem(15) 0 toRem(10);
          font-family: "Poppins", sans-serif;
          font-size: $font-nm;
          color: $gun-metal;
        }

        textarea {
          max-width: 100%;
          max-height: toRem(150);
        }

        input:focus,
        textarea:focus {
          outline: none;
          border-bottom-color: $ochre-brown;
        }

        label {
          position: absolute;
          top: toRem(14);
          left: 0;
          font-size: $font-nm;
          pointer-events: none;

          span {
            display: inline-block;
            min-width: toRem(5);
            font-size: $font-nm;
            transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          }
        }

        input:focus + label span,
        input:valid + label span,
        textarea:focus + label span,
        textarea:valid + label span {
          transform: translateY(-25px);
          color: $beige-grey;
          font-size: $font-sm;
        }
      }

      .btn {
        width: 100%;
        padding: toRem(15);
        margin-top: toRem(15);
        border-radius: toRem(50);
        border: none;
        font-family: inherit;
        font-size: $font-nm;
        background-color: $gun-metal;
        color: $antique-white;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        position: relative;
        overflow: hidden;

        &:active {
          transform: scale(0.95);
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -100%;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            to right,
            transparent,
            $ochre-brown,
            transparent
          );
          transform: skewX(-30deg);
          transition: left 0.5s;
        }

        &:hover::before {
          left: 100%;
        }
      }
    }
  }

  .attribution {
    img {
      width: 100%;
    }

    p {
      line-height: 1.3;
      text-align: center;
    }

    a {
      color: $beige-grey;
      cursor: pointer;
      position: relative;

      &::before,
      &::after {
        position: absolute;
        width: 100%;
        height: 1px;
        background: $ochre-brown;
        top: 100%;
        left: 0;
        pointer-events: none;
      }

      &::before {
        content: "";
      }
    }
    .link::before {
      transform-origin: 100% 50%;
      transform: scale3d(0, 1, 1);
      transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    }

    .link:hover::before {
      transform-origin: 0% 50%;
      transform: scale3d(1, 1, 1);
      transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
    }

    .link::after {
      content: "";
      top: calc(100% + 4px);
      transform-origin: 0% 50%;
      transform: scale3d(0, 1, 1);
      transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    }

    .link:hover::after {
      transform-origin: 100% 50%;
      transform: scale3d(1, 1, 1);
      transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
    }

    .desktop-img,
    .mobile-img {
      margin: 0 auto;
    }

    .desktop-img {
      position: relative;

      p {
        position: absolute;
        top: 64%;
        left: 44%;
        max-width: 35%;
        line-height: 1.3;
      }
    }

    .mobile-img {
      img {
        margin-bottom: toRem(10);
      }
    }
  }

  .social-mobile {
    margin-top: toRem(10);
  }

  // Media queries
  @include breakpoint-down(849px) {
    .hide-for-small {
      display: none;
    }

    .intro-text {
      .page-title {
        min-width: fit-content;
      }
    }

    .contact-container {
      padding: 0 toRem(30) toRem(60);

      .contact-form {
        form {
          padding: toRem(40) toRem(20);
        }
      }
    }
  }

  @include breakpoint-up(850px) {
    .hide-for-large {
      display: none;
    }
  }

  @include breakpoint-down(779px) {
    .intro-text {
      .page-quote {
        text-align: right;
      }
    }

    .contact {
      font-family: "Poppins", sans-serif;
      gap: toRem(50);
    }
  }

  @include breakpoint-down(500px) {
    .intro-text {
      .page-quote {
        text-align: center;
      }
    }
  }
}
