.gallery {
  font-family: "Josefin Sans", sans-serif;

  &-section {
    padding: 0 toRem(135) toRem(60);
    margin-top: toRem(50);
  }

  &-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 0;
    gap: toRem(28);
  }

  &-item {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(22, 23, 25, 0.8);
      width: 100%;
      height: 100%;
      border-radius: 50rem 0 50rem 50rem;
      transform: scale(0);
      transition: all 400ms ease-in-out;
      transition-delay: 0.2s;
      transform-origin: top right;
      visibility: hidden;
    }

    &:hover::before {
      border-radius: 10px;
      transform: scale(1);
      visibility: visible;
    }

    img {
      max-width: 100%;
      border-radius: 10px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-decoration: none;
      color: $antique-white;
      font-family: "Poppins", sans-serif;
      padding: 5px 25px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      text-align: center;
      border-radius: 5px;
      border: 1.5px solid $antique-white;
      z-index: 3;
      visibility: hidden;
      transition: all 300ms ease-in-out;
    }

    &:hover a {
      visibility: visible;
    }

    &:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }

    &:nth-child(2) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    &:nth-child(3) {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }

    &:nth-child(4) {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
    }

    &:nth-child(5) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }

    &:nth-child(6) {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }

    &:nth-child(7) {
      grid-column: 2 / 3;
      grid-row: 3 / 5;
    }

    &:nth-child(8) {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
    }

    &:nth-child(9) {
      grid-column: 3 / 4;
      grid-row: 4 / 5;
    }
  }

  .social-mobile {
    margin-top: toRem(70);
  }

  // Media queries
  @include breakpoint-down(979px) {
    .page-quote {
      text-align: right;
    }

    &-images {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
    }

    &-item {
      &:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
      }

      &:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }

      &:nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }

      &:nth-child(4) {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
      }

      &:nth-child(5) {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
      }

      &:nth-child(6) {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
      }

      &:nth-child(7) {
        grid-column: 1 / 2;
        grid-row: 5 / 7;
      }

      &:nth-child(8) {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
      }

      &:nth-child(9) {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
      }
    }
  }

  @include breakpoint-down(749px) {
    .page-quote {
      text-align: center;
    }

    &-section {
      padding: 0 toRem(30);
    }

    &-images {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
