html {
   font-size: 100%;
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   padding: 0;
   font-family: "Josefin Sans", sans-serif;
   font-family: "Poppins", sans-serif;
   background-color: $antique-white;
}

h1,
h2,
h3,
p {
   margin: 0;
}

.container {
   margin: 0 auto;
   max-width: 87.5rem;
   // height: 50rem;
   height: 100vh;
   position: relative;

   // Social link styles for large devices
   .social {
      position: fixed;
      top: 120px;
      transform: translateX(70px);
      z-index: 2;

      &__top-bar,
      &__bottom-bar {
         width: 2px;
         height: 120px;
         background-color: $elgengrau;
      }

      &__links {
         margin: 18px 0;
         // background-color: tomato;

         a {
            transition: 300ms ease-in-out;

            &:not(:last-child) {
               margin-bottom: 6px;
            }

            &::before {
               content: "";
               position: absolute;
               width: 30px;
               height: 30px;
               border-radius: 50%;
               transition: box-shadow 300ms ease-in-out;

               z-index: -1;
            }

            &:hover {
               transform: translateX(10px);

               &::before {
                  box-shadow: 2px 2px 7px $elgengrau, -2px -2px 7px $elgengrau;
               }
            }
         }
      }
   }

   // Social link styles for mobile devices
   .social-mobile {
      position: relative;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      z-index: 2;
      margin-top: 12rem;
      padding-bottom: 20px;

      &__left-bar,
      &__right-bar {
         width: 60px;
         height: 2px;
         background-color: $elgengrau;
      }

      &__left-bar {
         margin-right: 12px;
      }

      &__links {
         // margin: 18px 0;
         // background-color: tomato;

         a {
            margin-right: 12px;
            transition: 300ms ease-in-out;

            // &:not(:last-child) {
            //    margin-bottom: 6px;
            // }

            &::before {
               content: "";
               position: absolute;
               width: 30px;
               height: 30px;
               border-radius: 50%;
               transition: box-shadow 300ms ease-in-out;

               z-index: -1;
            }

            &:hover {
               transform: translateY(-10px);

               &::before {
                  box-shadow: 2px 2px 7px $elgengrau, -2px -2px 7px $elgengrau;
               }
            }
         }
      }
   }
}

.text-bold {
   font-weight: 700;
}

.text-italic {
   font-style: italic;
}

// Reset links
a,
a:visited,
a:hover {
   text-decoration: none;
}

// Flex Properties
.flex {
   display: flex;

   &-jc-sb {
      justify-content: space-between;
   }

   &-jc-c {
      justify-content: center;
   }

   &-ai-c {
      align-items: center;
   }

   &-fd-c {
      flex-direction: column;
   }
}

// Helper classes
.no-scroll {
   overflow: hidden;
}

// Media queries
@include breakpoint-down(749px) {
   .social {
      display: none;
   }
}

@include breakpoint-up(750px) {
   .social-mobile {
      display: none;
   }
}
