.home {
   font-family: "Josefin Sans", sans-serif;

   &__header,
   &__main {
      padding: 0 toRem(120);
   }

   &__header {
      position: relative;
      width: 100%;
      height: toRem(70);
      background-color: $elgengrau;
   }

   &__nav {
      position: relative;
      a {
         color: $antique-white;
      }

      &-logo {
         margin-top: toRem(25);
         font-weight: 100;
         font-size: $font-lg;
         transition: color 300ms ease-in-out;

         &:hover {
            color: $persian-orange;
         }
      }

      &-links {
         margin-top: toRem(28);

         a {
            position: relative;
            text-transform: uppercase;
            font-size: $font-sm;
            font-weight: 300;
            transition: color 300ms ease-in-out;
            padding: toRem(10) toRem(20);

            &:not(:last-child) {
               margin-right: toRem(24);
            }

            &::before {
               content: "";
               display: block;
               position: absolute;
               height: 2px;
               left: 0;
               right: 0;
               bottom: -13px;
               background: $persian-orange;
               opacity: 0;
               transition: opacity 300ms ease-in-out;
            }

            &:hover {
               color: $persian-orange;

               &::before {
                  opacity: 1;
               }
            }
         }
      }

      &-burger {
         margin-top: toRem(20);
         width: toRem(45);
         height: toRem(30);
         background: url("../../img/kettle_closed.svg");
         background-repeat: no-repeat;
         background-position: right;
         z-index: 4;
         transition: 0.2s ease-in;
         cursor: pointer;

         &.active {
            background: url("../../img/kettle_opened.svg");
            background-repeat: no-repeat;
            background-position: center;
         }
      }
   }

   &__header-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      overflow: hidden;
      z-index: 3;

      & > div {
         background: $persian-orange;
         width: 90vw;
         height: 90vw;
         max-width: toRem(1440);
         border-radius: 50%;
         flex: none;
         transform: scale(0);
         transition: all 0.3s ease;
      }

      & > div > div {
         text-align: center;
         max-width: 90vw;
         max-height: 100vh;
         opacity: 0;
         z-index: 5;
      }

      a {
         text-transform: uppercase;
         color: $elgengrau;
         font-size: $font-nm;
         transition: all 200ms ease-in-out;
         position: relative;

         &:not(:last-child) {
            margin-bottom: toRem(44);
         }

         &:hover {
            transform: scale(1.1);
         }
      }
   }

   &__main {
      position: relative;

      &-text {
         margin: toRem(190) 0 0 toRem(70);
         width: 52%;

         .heading {
            height: toRem(170);
            font-size: $font-xxxl;
            font-weight: 400;
            overflow: hidden;

            div {
               margin-bottom: 0px;
               padding: 5px 0;
               height: toRem(170);
               box-sizing: border-box;

               &:nth-child(4) {
                  margin-top: toRem(20);
               }
            }

            &__slider-text1 {
               animation: slidingText 10s linear infinite;
            }
         }

         @include breakpoint-down(1279px) {
            .heading {
               font-size: $font-xxl;
            }
         }
      }

      &-clock-container {
         margin: toRem(80) 0 0 toRem(80);
         position: relative;
         height: fit-content;

         &::before {
            content: "";
            position: absolute;
            top: -5px;
            left: 1px;
            width: 100%;
            height: 100%;
            box-shadow: rgb(38, 57, 77) 0 toRem(20) toRem(30) toRem(-10);
            border-radius: 50%;
            z-index: -2;
         }

         img {
            width: toRem(302);
            height: toRem(302);
         }
      }

      &-clock {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: toRem(191.1);
         height: toRem(191.1);
         opacity: 0.9;

         & .hand {
            --rotation: 0;
            position: absolute;
            bottom: 50%;
            left: 50%;
            width: 3px;
            background-color: #000;
            border-top-left-radius: toRem(10);
            border-top-right-radius: toRem(10);
            transform-origin: bottom;
            transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
            z-index: 5;
         }

         // Center dot
         &::after {
            content: "";
            width: 8px;
            height: 8px;
            background-color: #fbf0da;
            border: 2px solid #161719;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: 5;
         }

         // Second hand
         & .hand.second {
            position: absolute;
            bottom: 1.9px;
            width: 2px;
            height: 20%;
            background-color: #161719;
            z-index: 1;
         }

         // Minute hand
         & .hand.minute {
            height: 40%;
            background-color: #161719;
         }

         // Hour hand
         & .hand.hour {
            height: 35%;
            background-color: #161719;
         }

         // Center dot for second hand
         & .center {
            position: absolute;
            bottom: -1.7px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fbf0da;
            width: 7px;
            height: 7px;
            border: 2px solid #161719;
            border-radius: 50%;
            z-index: 2;
         }
      }

      &-digital-clock {
         text-transform: uppercase;
         text-align: center;
         color: #9f703a;
         font-size: $font-sm;
         position: absolute;
         bottom: -38%;
         left: 50%;
         transform: translateX(-50%);

         .time {
            font-size: $font-xxl;
            color: $elgengrau;
            margin-top: 5px;
         }

         .date .circle-bg {
            background-color: $elgengrau;
            padding-top: 1px;
            color: $persian-orange;
            width: toRem(22);
            height: toRem(22);
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
         }
      }
   }
   // Animation
   @keyframes slidingText {
      0% {
         margin-top: toRem(-680);
      }
      5% {
         margin-top: toRem(-510);
      }
      25% {
         margin-top: toRem(-510);
      }
      30% {
         margin-top: toRem(-340);
      }
      50% {
         margin-top: toRem(-340);
      }
      55% {
         margin-top: toRem(-170);
      }
      75% {
         margin-top: toRem(-170);
      }
      80% {
         margin-top: 0px;
      }
      100% {
         margin-top: 0px;
      }
   }

   // Media queries
   @include breakpoint-down(1149px) {
      &__main-text {
         margin: toRem(210) 0 0 toRem(20);
         width: 60%;
         height: toRem(140);

         .heading {
            height: toRem(140);

            div {
               margin-top: 0;
            }
         }
      }

      &__main-clock-container {
         margin: toRem(100) 0 0 toRem(30);

         img {
            width: toRem(270);
            height: toRem(270);
         }
      }

      &__main-digital-clock {
         .time {
            font-size: $font-xl;
         }
      }

      &__main-clock {
         & .hand.second {
            bottom: 10px;
            height: 16%;
         }
         // Center dot for second hand
         & .center {
            bottom: 6px;
         }
      }
   }

   @include breakpoint-down(1023px) {
      &__main {
         flex-direction: column;

         &-text {
            margin: toRem(50) auto 0;
            width: 100%;
            text-align: center;
         }

         &-clock-container {
            transform: translateX(40%);
            width: toRem(270);
            height: toRem(270);
            margin-top: toRem(40);
         }

         &-digital-clock {
            position: absolute;
            top: 35%;
            bottom: 0;
            transform: translateX(170%);

            .time {
               font-size: $font-xxl;
            }
         }
      }
   }

   @include breakpoint-down(979px) {
      &__nav-links {
         display: none;
      }
   }

   @include breakpoint-up(980px) {
      &__nav-burger {
         display: none;
      }
   }

   @include breakpoint-down(869px) {
      &__header,
      &__main {
         padding: 0 toRem(80);
      }
   }

   @include breakpoint-down(749px) {
      &__main {
         &-text {
            margin: toRem(50) auto 0;
            width: 100%;
            text-align: center;
         }

         &-clock-container {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: toRem(270);
            height: toRem(270);
            margin-top: toRem(40);
            margin-left: 0;
         }

         &-digital-clock {
            position: relative;
            top: toRem(30);
            left: 50%;
            transform: translateX(-50%);

            .time {
               font-size: $font-xl;
            }
         }
      }
   }

   @include breakpoint-down(599px) {
      &__nav-logo {
         font-size: toRem(24);
      }

      &__header,
      &__main {
         padding: 0 toRem(30);
      }

      &__main {
         &-text {
            height: toRem(100);
            .heading {
               font-size: $font-xl;
               height: toRem(100);

               & > div {
                  &:nth-child(4) {
                     margin-top: 0;
                  }
               }
            }
         }
      }

      &__header-menu {
         & > div {
            width: 140vw;
            height: 140vw;
         }
      }
   }
}
