.home {
   font-family: "Josefin Sans", sans-serif;

   &__header,
   &__main {
      padding: 0 120px;
   }

   &__header {
      position: relative;
      width: 100%;
      height: 70px;
      background-color: $elgengrau;
   }

   &__nav {
      position: relative;
      a {
         color: $antique-white;
      }

      &-logo {
         margin-top: 25px;
         font-weight: 100;
         font-size: $font-lg;
         transition: color 300ms ease-in-out;

         &:hover {
            color: $persian-orange;
         }
      }

      &-links {
         margin-top: 28px;

         a {
            position: relative;
            text-transform: uppercase;
            font-size: $font-sm;
            font-weight: 300;
            transition: color 300ms ease-in-out;
            padding: 10px 20px;

            &:not(:last-child) {
               margin-right: 24px;
            }

            &::before {
               content: "";
               display: block;
               position: absolute;
               height: 2px;
               left: 0;
               right: 0;
               bottom: -13px;
               background: $persian-orange;
               opacity: 0;
               transition: opacity 300ms ease-in-out;
            }

            &:hover {
               color: $persian-orange;

               &::before {
                  opacity: 1;
               }
            }
         }
      }

      &-burger {
         margin-top: 20px;
         width: 45px;
         height: 30px;
         background: url("../../img/kettle_closed.svg");
         background-repeat: no-repeat;
         background-position: right;
         z-index: 4;
         transition: 0.2s ease-in;
         cursor: pointer;

         &.active {
            background: url("../../img/kettle_opened.svg");
            background-repeat: no-repeat;
            background-position: center;
         }
      }
   }

   &__header-menu {
      // position: absolute;
      // left: 50%;
      // transform: translateX(-50%);
      // width: calc(100% - 3rem);
      // padding: 1.5625rem;
      // background-color: $elgengrau;
      // border-radius: 5px;
      // z-index: 3;
      // text-align: center;

      // a {
      //    display: block;
      //    width: fit-content;
      //    text-transform: uppercase;
      //    color: $antique-white;
      //    font-size: $font-sm;
      //    font-weight: 300;
      //    // background-color: coral;

      //    &:not(:last-child) {
      //       margin-bottom: 44px;
      //    }
      // }

      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      overflow: hidden;
      z-index: 3;

      & > div {
         // background: $ochre-brown;
         background: $persian-orange;
         // background: $elgengrau;
         // width: 300px;
         // height: 300px;
         width: 90vw;
         height: 90vw;
         max-width: 1440px;
         border-radius: 50%;
         // display: flex;
         flex: none;
         // align-items: center;
         // justify-content: center;
         transform: scale(0);
         transition: all 0.3s ease;
      }

      & > div > div {
         text-align: center;
         max-width: 90vw;
         max-height: 100vh;
         opacity: 0;
         z-index: 5;
      }

      a {
         // display: block;
         // width: fit-content;
         text-transform: uppercase;
         // color: $antique-white;
         color: $elgengrau;
         font-size: $font-nm;
         transition: all 200ms ease-in-out;
         // font-weight: 300;
         // background-color: coral;
         position: relative;

         &:not(:last-child) {
            margin-bottom: 44px;
         }

         // &::before {
         //    content: "";
         //    display: block;
         //    position: absolute;
         //    height: 2px;
         //    left: 0;
         //    right: 0;
         //    bottom: -13px;
         //    background: $elgengrau;
         //    opacity: 0;
         //    transition: scale 300ms ease-in-out;
         // }

         &:hover {
            transform: scale(1.1);
            // &::before {
            //    opacity: 1;
            // }
         }
      }
   }

   &__main {
      position: relative;

      &-text {
         margin: 190px 0 0 70px;
         width: 52%;
         // background-color: tomato;
         .heading {
            // width: 50%;
            height: 170px;
            // font-size: $font-xxl;
            font-size: $font-xxxl;
            font-weight: 400;
            overflow: hidden;

            div {
               margin-bottom: 0px;
               padding: 5px 0;
               height: 170px;
               // background-color: green;
               box-sizing: border-box;

               &:nth-child(4) {
                  margin-top: 20px;
               }
            }

            &__slider-text1 {
               animation: slidingText 10s linear infinite;
            }
         }

         @include breakpoint-down(1279px) {
            .heading {
               font-size: $font-xxl;
            }
         }
      }

      &-clock-container {
         margin: 80px 0 0 80px;
         // background-color: $elgengrau;
         // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
         // box-shadow: rgba(red, 1) 0px 2px 8px 0px;
         // width: 50%;
         position: relative;
         // top: 50px;
         height: fit-content;

         &::before {
            content: "";
            position: absolute;
            top: -5px;
            left: 1px;
            width: 100%;
            height: 100%;
            // background-color: green;
            // box-shadow: rgba($elgengrau, 1) 0px 2px 8px 0px;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            border-radius: 50%;
            z-index: -2;
         }

         img {
            width: 302px;
            height: 302px;
         }
      }

      &-clock {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 191.1px;
         height: 191.1px;
         opacity: 0.9;

         & .hand {
            --rotation: 0;
            position: absolute;
            bottom: 50%;
            left: 50%;
            width: 3px;
            background-color: #000;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            transform-origin: bottom;
            transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
            z-index: 5;
         }

         // Center dot
         &::after {
            content: "";
            width: 8px;
            height: 8px;
            background-color: #fbf0da;
            border: 2px solid #161719;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: 5;
         }

         // Second hand
         & .hand.second {
            position: absolute;
            bottom: 1.9px;
            width: 2px;
            height: 20%;
            background-color: #161719;
            z-index: 1;
         }

         // Minute hand
         & .hand.minute {
            height: 40%;
            background-color: #161719;
         }

         // Hour hand
         & .hand.hour {
            height: 35%;
            background-color: #161719;
         }

         // Center dot for second hand
         & .center {
            position: absolute;
            bottom: -1.7px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fbf0da;
            width: 7px;
            height: 7px;
            border: 2px solid #161719;
            border-radius: 50%;
            z-index: 2;
         }
      }

      &-digital-clock {
         text-transform: uppercase;
         text-align: center;
         color: #9f703a;
         font-size: $font-sm;
         position: absolute;
         bottom: -38%;
         left: 50%;
         transform: translateX(-50%);

         .time {
            font-size: $font-xxl;
            color: $elgengrau;
            margin-top: 5px;
         }

         .date .circle-bg {
            background-color: $elgengrau;
            // position: relative;
            // top: -2px;
            padding-top: 1px;
            color: $persian-orange;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            // line-height: 35px;
         }
      }
   }
   // Animation
   @keyframes slidingText {
      0% {
         margin-top: -680px;
      }
      5% {
         margin-top: -510px;
      }
      25% {
         margin-top: -510px;
      }
      30% {
         margin-top: -340px;
      }
      50% {
         margin-top: -340px;
      }
      55% {
         margin-top: -170px;
      }
      75% {
         margin-top: -170px;
      }
      80% {
         margin-top: 0px;
      }
      100% {
         margin-top: 0px;
      }
   }

   // Media queries
   @include breakpoint-down(1149px) {
      &__main-text {
         margin: 210px 0 0 20px;
         width: 60%;
         height: 140px;

         .heading {
            height: 140px;

            div {
               margin-top: 0;
            }
         }
      }

      &__main-clock-container {
         margin: 100px 0 0 30px;

         img {
            width: 270px;
            height: 270px;
         }
      }

      &__main-digital-clock {
         .time {
            font-size: $font-xl;
         }
      }

      &__main-clock {
         & .hand.second {
            bottom: 10px;
            height: 16%;
         }
         // Center dot for second hand
         & .center {
            bottom: 6px;
         }
      }
   }

   @include breakpoint-down(1023px) {
      &__main {
         flex-direction: column;

         &-text {
            margin: 50px auto 0;
            width: 100%;
            text-align: center;
         }

         &-clock-container {
            // position: relative;
            // left: 50%;
            transform: translateX(40%);
            // background-color: coral;
            width: 270px;
            height: 270px;
            // img {
            //    left: 50%;
            // }
            margin-top: 40px;
         }

         &-digital-clock {
            position: absolute;

            top: 35%;
            bottom: 0;
            transform: translateX(170%);

            .time {
               font-size: $font-xxl;
            }
         }
      }
   }

   @include breakpoint-down(979px) {
      &__nav-links {
         display: none;
      }
   }

   @include breakpoint-up(980px) {
      &__nav-burger {
         display: none;
      }
   }

   @include breakpoint-down(869px) {
      &__header,
      &__main {
         padding: 0 80px;
      }
   }

   @include breakpoint-down(749px) {
      &__main {
         &-text {
            margin: 50px auto 0;
            width: 100%;
            text-align: center;
         }

         &-clock-container {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 270px;
            height: 270px;
            // img {
            //    left: 50%;
            // }
            margin-top: 40px;
            margin-left: 0;
         }

         &-digital-clock {
            position: relative;

            top: 30px;
            left: 50%;
            transform: translateX(-50%);

            .time {
               font-size: $font-xl;
            }
         }
      }
   }

   @include breakpoint-down(599px) {
      &__nav-logo {
         font-size: 24px;
      }

      &__header,
      &__main {
         padding: 0 30px;
      }

      &__main {
         &-text {
            height: 100px;
            .heading {
               font-size: $font-xl;
               height: 100px;

               & > div {
                  &:nth-child(4) {
                     margin-top: 0;
                  }
               }
            }
         }
      }

      &__header-menu {
         & > div {
            width: 140vw;
            height: 140vw;
         }
      }
   }
}
