.menu {
   font-family: "Josefin Sans", sans-serif;
   // padding-bottom: toRem(50);
   // background-color: red;
   // Coffee menu styles
   .coffee-menu {
      padding: 0 toRem(100);
      // padding: 0 toRem(160);
      // margin-top: toRem(50);
      margin-top: toRem(50);
      margin-bottom: toRem(50);
      // background-color: tomato;
      gap: toRem(60);
   }

   .menu-item {
      padding-top: toRem(50);
      min-width: toRem(300);
      // background-color: teal;
      border-radius: 10px;
      // box-shadow: 2px 2px 5px #ddd, -2px -2px 5px #eee;
      // box-shadow: 2px 2px 20px #d4bea5, -2px -2px 20px #d4bea5;
      box-shadow: 0.1px 0.1px 2px #d4bea5, -0.1px -0.1px 2px #d4bea5;
      transition: 300ms ease-in-out;

      &:hover {
         box-shadow: 2px 2px 20px #d4bea5, -2px -2px 20px #d4bea5;
         // box-shadow: 1rem 1rem 2rem #d4bea5, -1rem -1rem 2rem #d4bea5;
      }
   }

   .menu-title {
      text-transform: uppercase;
      text-align: center;
      font-size: $font-lg;
      // width: 50%;
      position: relative;
   }

   .menu-content {
      padding: 0;
      margin: toRem(30) auto toRem(15);
      position: relative;
      width: 80%;
      // background-color: lawngreen;

      li {
         // background-color: orange;
         list-style-type: none;
         text-transform: capitalize;
         font-family: "Poppins", sans-serif;

         .price {
            font-weight: bold;

            img {
               margin-right: 5px;
            }
         }
      }

      &::before {
         content: "";
         position: absolute;
         top: -17px;
         left: 0;
         // transform: translateX(-20%);
         // top: 0;
         width: 100%;
         height: 1px;
         background-color: $elgengrau;
      }
   }

   .add-on {
      // font-style: italic;
      margin-bottom: toRem(10);
      font-size: $font-sm;
      font-weight: 400;
      text-align: center;
      // color: $elgengrau;
   }

   // Coffee mugs styles
   .coffee-mugs {
      font-family: "Poppins", sans-serif;
      margin-bottom: toRem(65);

      .promo-text {
         // font-family: "Poppins", sans-serif;
         margin-bottom: toRem(22);
         text-align: center;
         font-size: $font-sm;
      }

      .promo-images {
         align-items: baseline;
         gap: toRem(25);

         p {
            text-align: center;
         }
      }
   }

   // Testimonial styles
   .testimonials {
      padding-bottom: toRem(60);

      h3 {
         text-align: center;
         margin-bottom: toRem(45);
      }

      .testimonial-container {
         margin: 0 auto;
         padding: 0 toRem(30);
         max-width: toRem(640);
         min-height: toRem(300);
         border: 1px solid $elgengrau;
         border-radius: 10px;
         position: relative;

         .bg-img-1,
         .bg-img-2,
         .bg-img-3 {
            position: absolute;
            width: toRem(60);
            height: toRem(60);
            z-index: -1;
         }

         .bg-img-1 {
            top: toRem(40);
            left: toRem(100);
            background-image: url(../../img/bg_img_1.svg);
            background-repeat: no-repeat;
         }

         .bg-img-2 {
            top: toRem(150);
            left: toRem(230);
            background-image: url(../../img/bg_img_2.svg);
            background-repeat: no-repeat;
         }

         .bg-img-3 {
            top: toRem(210);
            left: toRem(50);
            background-image: url(../../img/bg_img_3.svg);
            background-repeat: no-repeat;
         }
      }

      .testimonial-left {
         margin-right: toRem(20);

         .progress-bar {
            background-color: $persian-orange;
            height: 4px;
            width: 100%;
            animation: grow 12s linear infinite;
            transform-origin: left;
            margin-bottom: toRem(20);
         }

         p {
            text-align: justify;
            font-size: toRem(18);
            line-height: toRem(22);
         }
      }

      .testimonial-right {
         .customer-img {
            width: toRem(180);
            height: toRem(180);
         }
      }
   }

   @keyframes grow {
      0% {
         transform: scaleX(0);
      }
   }
}
