// Colors
$antique-white: #fbf0da;
$elgengrau: #161719;
$lemon-meringue: #fbe8c1;
$ochre-brown: #9f703a;
$persian-orange: #d69e5d;
$champagne: #f7e7ce;
$gun-metal: #2f2e41;
$beige-grey: #5a4020;

// Font sizes
$font-sm: 0.875rem; // small 14px
$font-nm: 1rem; // normal 16px
$font-lg: 1.75rem; // large 28px
$font-xl: 2.5rem; // extra large 40px
$font-xxl: 3.75rem; // double extra large 60px
$font-xxxl: 4.5rem; // triple extra large 72px
