// Colors
$antique-white: #fbf0da;
$elgengrau: #161719;
$lemon-meringue: #fbe8c1;
$ochre-brown: #9f703a;

// Font sizes
$font-sm: 0.875rem; // small 14px
$font-nm: 1rem; // normal 16px
$font-lg: 1.75rem; // large 28px
$font-xl: 2.5rem; // extra large 40px
$font-xxl: 4.5rem; // extra extra large 72px
